{{/*
  GetNotice
  Make sure the given map for a rule matches the expecting data structure

  @author @regisphilibert

  @context Any (.)

  @return Map
        String (.title)
        String (.content)
        String (.raw_content)
        String (.read_more)
        Page (.page)

  @access private

  @example - Go Template
    {{ $rule := partialCached "tnd-notice/private/GetNotice" . "tnd-notice/GetNotice" }}
*/}}
{{ $return := dict }}

{{ with $config := partialCached "tnd-notice/private/GetConfig" . "tnd-notice/GetConfig" }}

  {{ $title := "" }}
  {{ $raw_content := "" }}
  {{ $content := "" }}
  {{ $read_more := "" }}
  {{ $page := false }}

  {{ with $config.title }}
    {{ $title = . }}
  {{ end }}

  {{ with $config.content }}
    {{ $raw_content = . }}
    {{ $content = . }}
  {{ end }}

  {{ with $config.read_more }}
    {{ with urls.Parse . }}
      {{ $read_more = $config.read_more }}
    {{ else }}
      {{ with $config.page }}
        {{ $read_more = $config.page.RelPermalink }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ with $read_more }}
    {{ $link := printf `[Read more](%s)` . }}
    {{ $content = printf "%s %s" $content $link }}
  {{ end }}

  {{ with $config.page }}
    {{ $page = . }}
  {{ end }}

  {{ $return = dict "title" $title "content" ($content | markdownify) "raw_content" $raw_content "read_more" $read_more "page" $page }}

{{ end }}

{{ return $return }}